@import "vars";
body {
    background-color: red;
}

.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}


header {
    border: $header-border-width solid black;
}

.col {
    width: calc(100% / #{$columns} - #{$margin * 2});
}

@media (min-width: 1000px) {
    $columns: 2;
    
    .col {
        width: calc(100% / #{$columns} - #{$margin * 2});
    }
}

